<!DOCTYPE html>
<html>
<head>
    <title>StayNest</title>
</head>
<body>

    <h1>Welcome to StayNest 🏡</h1>

    <p>Find your perfect stay anywhere in the world</p>

    <a href="/listings">Explore Listings</a>
    <br><br>
    <a href="/listings/new">Create Listing</a>

</body>
</html>